@model IEnumerable<MebelWeb.Models.Syrio>

@{
    ViewData["Title"] = "Сырьё";
}

<h1>Сырьё</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Наименование материала
            </th>
            <th>
                Единица измерения
            </th>
            <th>
                Количество
            </th>
            <th>
                Сумма
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naimenovanie_materiala)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Edinica_izmerenia.Naimenovanie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
